body {
    font-family: 'Heebo', sans-serif;
    margin: 0;
    padding: 0; 
    background-color: whitesmoke;
}

/* -------------------------- Navigation Bar --------------------------*/

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(213, 233, 246);
    width: 98%;
    padding: 35px;
    position: fixed; /* Set relative positioning on the navbar */
    z-index: 1000;
    margin-top: -155px;
}

.navbar a {
    color: black;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    font-size: 15px;
    display: inline-block;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease;
    position: relative;
    z-index: 1;
}

.navbar a:hover {
    border-bottom: 2px solid #555;
}

.navbar a:nth-child(1) { /* SEARCH */
    margin-top: 5px;
}

.navbar input.search-input {
    background-color: transparent;
    border: none;
    font-family: 'Heebo', sans-serif;
    outline: none;
    width: 60px;
}

.navbar input.search-input::placeholder {
    color: black;
    font-size: 16px;
}

.navbar input.search-input:focus {
    background-color: transparent; /* Set the background color to transparent when focused */
}

.navbar a:nth-child(4) { /* GUINEA+LAB */
    font-size: 25px;
    padding: 5px 10px;
    border: 2px solid #555;
    text-align: center; /* Use text-align to center the element */
}



.navbar a:nth-child(2), /* SKINCARE */
.navbar a:nth-child(3), /* BRANDS */
.navbar a:nth-child(5), /* ABOUT US */
.navbar a:nth-child(6), /* GAMES */
.navbar a:nth-child(7) { /* CONTACT US */
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
}

.navbar button.login-button {
    position: absolute;
    display: flex;
    align-items: flex-start; /* Align items to the start of the flex container (top) */
    margin-top: 40px;
    margin-left: 1200px;
    border: none; /* Remove the border from the button */
    background: transparent; /* Set the background to transparent */
    font-size: 12px;
    cursor: pointer;
}

.navbar button.login-button .icon {
    margin-right: 25px;
    margin-left: -10px;
    margin-top: 11px;
    font-size: 13px;
}

.navbar button.login-button .login-text {
    white-space: nowrap;
    font-size: 10px;
    margin-top: 11px;
    margin-left: -20px;
    text-align: left;
    color: black
}

.navbar button.login-button:hover .icon,
.navbar button.login-button:hover .login-text {
    font-weight: bolder ;
}

.navbar a.cart-link {
    position: absolute;
    display: flex;
    align-items: flex-start; /* Align items to the start of the flex container (top) */
    margin-top: 42px;
    margin-left: 1260px;
    border-bottom: transparent;
    font-size: 13px;
    color: #555;
}

.navbar a.cart-link .fa {
    margin-left: 20px;
    margin-top: 5px; 
}


/* -------------------------- Slideshow Container --------------------------*/
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-top: 155px;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
    margin-left: 1px;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}



/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: whitesmoke;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: relative;
    top: -80px; /* Adjust the top position to move the dots higher */
  }
  
.active, .dot:hover {
  background-color: burlywood;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* -------------------------- Range of Products Container --------------------------*/
.rangeOfProducts-container {
    position: relative; /* Ensure proper positioning for absolute positioning within */
    text-align: center;
}

/* ---------- TONER ---------- */
.toner-image-container {
    width: 140px;
    height: 170px;
    position: absolute;
    margin-left: -469px;
    text-decoration: none; /* Remove the default underline for links */
}

#range-image1 {
    width: 100%;
    height: 100%;
    border-radius: 35%;
}

.toner-gray-circle {
    width: 140px;
    height: 170px;
    background-color: rgb(210, 210, 210);
    border-radius: 35%; /* Makes it a circle by setting border-radius to 50% */
    position: absolute; /* Position the circle absolutely within the container */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for centering */
    margin-top: 40px;
    z-index: -1;
}

#toner-text {
    font-size: 15px; /* Adjust the font size */
    color: #333; /* Set the text color */
    font-weight: bolder;
    text-align: center;
    margin-top: 2.5px;
}

.toner-image-container:hover .toner-gray-circle {
    background-color: rgb(255, 221, 226);
}

/* ---------- SERUM ---------- */
.serum-image-container {
    width: 140px;
    height: 170px;
    position: absolute;
    margin-left: -272px;
    text-decoration: none; /* Remove the default underline for links */
}

#range-image2 {
    width: 100%;
    height: 100%;
    border-radius: 35%;
}

.serum-gray-circle {
    width: 140px;
    height: 170px;
    background-color: rgb(210, 210, 210);
    border-radius: 35%; /* Makes it a circle by setting border-radius to 50% */
    position: absolute; /* Position the circle absolutely within the container */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for centering */
    margin-top: 40px;
    z-index: -1;
}

#serum-text {
    font-size: 15px; /* Adjust the font size */
    color: #333; /* Set the text color */
    font-weight: bolder;
    text-align: center;
    margin-top: 2.5px;
}

.serum-image-container:hover .serum-gray-circle {
    background-color: rgb(255, 221, 226);
}

/* ---------- MOISTURISER ---------- */
.moisturiser-image-container {
    width: 140px;
    height: 170px;
    position: absolute;
    margin-left: -71px;
    text-decoration: none;
}

#range-image3 {
    width: 100%;
    height: 100%;
    border-radius: 35%;
}

.moisturiser-gray-circle {
    width: 140px;
    height: 170px;
    background-color: rgb(210, 210, 210);
    border-radius: 35%; /* Makes it a circle by setting border-radius to 50% */
    position: absolute; /* Position the circle absolutely within the container */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for centering */
    margin-top: 40px;
    z-index: -1;
}

#moisturiser-text {
    font-size: 13px; /* Adjust the font size */
    color: #333; /* Set the text color */
    font-weight: bolder;
    text-align: center;
    margin-top: 2.5px;
}

.moisturiser-image-container:hover .moisturiser-gray-circle {
    background-color: rgb(255, 221, 226);
}

/* ---------- CLEANSER ---------- */
.cleanser-image-container {
    width: 140px;
    height: 170px;
    position: absolute;
    margin-left: 128px;
    text-decoration: none;
}

#range-image4 {
    width: 100%;
    height: 100%;
    border-radius: 35%;
}

.cleanser-gray-circle {
    width: 140px;
    height: 170px;
    background-color: rgb(210, 210, 210);
    border-radius: 35%; /* Makes it a circle by setting border-radius to 50% */
    position: absolute; /* Position the circle absolutely within the container */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for centering */
    margin-top: 40px;
    z-index: -1;
}

#cleanser-text {
    font-size: 15px; /* Adjust the font size */
    color: #333; /* Set the text color */
    font-weight: bolder;
    text-align: center;
    margin-top: 2.5px;
}

.cleanser-image-container:hover .cleanser-gray-circle {
    background-color: rgb(255, 221, 226);
}


/* ---------- SUNSCREEN ---------- */
.sunscreen-image-container {
    width: 140px;
    height: 170px;
    position: absolute;
    margin-left: 327px;
    text-decoration: none;
}

#range-image5 {
    width: 100%;
    height: 100%;
    border-radius: 35%;
}

.sunscreen-gray-circle {
    width: 140px;
    height: 170px;
    background-color: rgb(210, 210, 210);
    border-radius: 35%; /* Makes it a circle by setting border-radius to 50% */
    position: absolute; /* Position the circle absolutely within the container */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for centering */
    margin-top: 40px;
    z-index: -1;
}

#sunscreen-text {
    font-size: 15px; /* Adjust the font size */
    color: #333; /* Set the text color */
    font-weight: bolder;
    text-align: center;
    margin-top: 2.5px;
}

.sunscreen-image-container:hover .sunscreen-gray-circle {
    background-color: rgb(255, 221, 226);
}


/* ---------- OUR BESTSELLERS ---------- */
.best-sellers-container {
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
    margin-top: 300px;
}

/* ---------- BESTSELLER 1 ---------- */
.bestSeller1-container {
    position: relative;
    margin-top: 40px;
    margin-left: -850px;
}

.bestSeller1-container img {
    width: 247px; 
    height: 300px; 
    border-radius: 15px; /* Optional: Add rounded corners */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Add box-shadow for a subtle shadow effect */
    transition: transform 0.3s ease; /* Add a smooth transition for the scaling effect */
}

.bestSeller1-container img:hover {
    transform: scale(1.02); /* Enlarge the image on hover */
}

.bestSeller1-text-container {
    position: absolute;
    margin-top: -5px;
    margin-left: 1075px; 
    width: 210px;
    font-size: 14px;
    text-align: center;
}

#bestSeller1-brand {
    margin: 0;
    font-weight: bold;
}

#bestSeller1-price {
    margin: 0;
    font-weight: bolder;
}



/* ---------- BESTSELLER 2 ---------- */
.bestSeller2-container {
    position: relative;
    margin-top: -307px;
    margin-left: 650px;
}

.bestSeller2-container img {
    width: 247px; 
    height: 300px; 
    border-radius: 15px; /* Optional: Add rounded corners */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Add box-shadow for a subtle shadow effect */
    transition: transform 0.3s ease; /* Add a smooth transition for the scaling effect */
}

.bestSeller2-container img:hover {
    transform: scale(1.02); /* Enlarge the image on hover */
}

.bestSeller2-text-container {
    position: absolute;
    margin-top: -5px;
    margin-left: 755px; 
    width: 210px;
    font-size: 14px;
    text-align: centre;
}

#bestSeller2-brand {
    margin: 0;
    font-weight: bold;
}

#bestSeller2-price {
    margin: 0;
    font-weight: bolder;
}


/* -------------------------- Modal Styles --------------------------*/
.modal {
    display: none; /* Hide the modal by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 50px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 10px;
    border: 1px solid #888;
    width: 650px;
    height: 65%;
    border-radius: 30px;
}

.close {
    color: #aaa;
    margin-left: 1400px;
    font-size: 30px;
    font-weight: bold;
}


.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.container {
    padding: 16px;
}

button.cancelbtn, button.signupbtn {
    background-color: #f1f1f1;
    color: black;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: auto;
    opacity: 2;
}


button.cancelbtn:hover, button.signupbtn:hover {
    opacity: 10;
    background-color: rgba(255, 222, 227, 0.789);
}

.social-login {
    text-align: center;
}

.social-login a {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    width: 250px;
    text-align: center;
}

.social-login .fb { background-color: #3b5998; }
.social-login .twitter { background-color: #55acee; }
.social-login .google { background-color: #dd4b39; }

.vl {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #ddd;
    margin-top: -150px;
    margin-left: 10px;
    height: 135px;
}

.vl-innertext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 222, 227, 0.789);
    padding: 7px; /* Adjust padding as needed */
    color: #555;
    border-radius: 50%; /* Make it a circle */
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the items horizontally */
    margin-top: -160px; 
    margin-left: 365px;
}

.form-container input {
    width: 230px;
    padding: 10px;
    margin-bottom: 15px; /* Add space between input elements */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}


/* -------------------------- Media query for smaller screens --------------------------*/
@media (max-width: 600px) {
    .navbar {
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items horizontally */
        padding: 10px;
        width: 100%;
    }

    .navbar a:nth-child(1) { /* SEARCH */
        margin-left: -125px;
        margin-top: 190px;
        font-size: 12px;
    }

    .navbar input.search-input::placeholder {
        color: black;
        font-size: 12px;
    }
    

    .navbar a:nth-child(2) { /* SKINCARE */
        margin-left: -145px;
        margin-top: -165px;
        font-size: 12px;
    }

    .navbar a:nth-child(3) { /* BRANDS */
        margin-left: -145px;
        margin-top: 25px;
        font-size: 12px;
    }

    .navbar a:nth-child(4) { /* GUINEA+LAB */
        margin-top: -165px;
        font-size: 20px; /* Adjust font size as needed */
        padding: 5px 10px;
        border: 2px solid #555;
    }

    .navbar a:nth-child(5) { /* ABOUT US */
        margin-left: 160px;
        margin-top: 27px;
        font-size: 12px;
    }

    .navbar a:nth-child(6) { /* GAMES */
        margin-left: 160px;
        margin-top: 15px;
        font-size: 12px;
    }

    .navbar a:nth-child(7) { /* CONTACT US */
        margin-left: 160px;
        margin-top: 22px;
        font-size: 12px;
    }

    .navbar button.login-button {
        margin-top: 60px; /* Adjust as needed */
        margin-left: 385px;
    }

    .navbar a.login-link {
        position: static; /* Remove absolute positioning */
        margin-top: 20px; /* Adjust as needed */
        margin-left: 10px;
    }

    .navbar a.cart-link .fa {
        margin-left: -474px;
        margin-top: 60px
    }

    .modal-content {
        width: 80%; /* Adjust width as needed */
        height: 70%; /* Adjust height as needed */
    }

    .close {
        margin-left: 474px; /* Adjust margin as needed */
        font-size: 25px; /* Adjust font size as needed */
    }

    .container {
        padding: 8px; /* Adjust padding as needed */
    }

    button.cancelbtn,
    button.signupbtn {
        padding: 10px 15px; /* Adjust padding as needed */
    }

    .social-login a {
        width: 150px; /* Adjust width as needed */
        padding: 8px; /* Adjust padding as needed */
        text-align: center;
    }

    .vl {
        margin-top: -200px; /* Adjust margin as needed */
        margin-left: -3px; /* Adjust margin as needed */
        height: 180px; /* Adjust height as needed */
    }

    .vl-innertext {
        padding: 5px; /* Adjust padding as needed */
        font-size: 12px; /* Adjust font size as needed */
    }

    .form-container {
        margin-top: -205px; /* Adjust margin as needed */
        margin-left: 190px; /* Adjust margin as needed */
    }

    .form-container input {
        width: 75%; /* Adjust width as needed */
        height: 50px;
    }
}



    



